@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
$color-main: cornflowerblue;
$color-sec: AliceBlue;
$color-text: #103a89;
$shadow-text: 1px 1px 5px #aaa;
$shadow-box: 0 15px 15px -15px #666; //下方陰影
$desktop: 1025px; //width lower bound
$tablet: 1024px; //width upper bound
$mobile: 767px; //width upper bound
$h-nav: 100px;//desktop size

@mixin font-zh($_fz, $_wt) {
    font-family:"Noto Sans TC", sans-serif; //400, 500, 700, 900
    font-size: $_fz ;
    font-weight: $_wt ;
}
@mixin font-en($_fz, $_wt, $ifItalic) {
    font-family: "Montserrat", sans-serif; //normal & italic ; 300~900
    font-size: $_fz ;
    font-weight: $_wt ;
    @if $ifItalic {
        font-style: italic;
    }
}
@mixin for-test($color) {
    border: 1px solid $color;
}