@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
$color-main: cornflowerblue;
$color-sec: AliceBlue;
$color-text: #103a89;
$font-zh: "Noto Sans TC", sans-serif; //400, 500, 700, 900
$font-en: "Montserrat", sans-serif; //normal & italic ; 300~900
$text-shadow: 1px 1px 5px #666;
$box-shadow: 1px 1px 5px #666;
$desktop: 1025px; //width lower bound
$tablet: 1024px; //width upper bound
$mobile: 767px; //width upper bound
@mixin for-test($color) {
    border: 1px solid $color;
}

// 通用樣式區
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:link,
    &:visited {
        color: $color-sec;
    }
}
.hr-title {
    margin: 15px 20%;
    border-color: #000;
}
.title-big {
    //用class統一設定格式
    margin-top: 100px;
    text-align: center;
    font-family: $font-zh;
    font-weight: 700;
    font-size: 36px;
    color: $color-text;
}
.title-medium {
    text-align: center;
    font-family: $font-zh;
    font-weight: 500;
    font-size: 24px;
}
.text-p {
    font-family: $font-zh;
    font-weight: 400;
}
.logo img {
    height: auto;
    width: auto;
    border-radius: 5px;
    transition: .5s;

    &:hover {
        box-shadow: 0 5px 12px rgba(#666,0.3);
    }
}
// 通用樣式區 END ================================================
// 導覽列 ========================================================
nav {
    $h-nav: 100px;

    width: 100%;
    display: grid;
    align-items: center;
    background-color: $color-main;
    @media screen and (min-width: $desktop) {
        height: $h-nav;
        max-height: $h-nav;
        top: 0;
        position: sticky; //抵達fixed原則的指定定位才會啟動效果
        z-index: 2; //以免被輪播圖遮住
        grid-template-columns: 7% auto 7%;
    }
    @media screen and (max-width: $tablet) {
        //平板&手機共用
        max-height: none;
        position: initial;
        //TODO height: 70px;
        grid-template-columns: 100% 0;
    }
    @media screen and (max-width: $mobile) {
        // TODO max-height: 60px;
    }

    // Part 0 : 行動裝置漢堡包
    #menu-hbg {
        width: 32px;
        height: 32px;
        margin: 0 20px 0 auto; //置右的實現方法
        background-color: $color-sec;
        border-radius: 15%;

        @media screen and (min-width: $desktop) {
            display: none;
        }
        @media screen and (max-width: $tablet) {
            //平板&手機共用
            border: 3px solid $color-sec; //放大效果
            display: block;
        }
        @media screen and (max-width: $mobile) {
            border: none; //取消放大效果
        }
    }
    // Part II : 導覽列主要連結
    #nav-link-wrap {
        margin: 0 auto;
        height: 100%;
        list-style: none;
        text-align: center;

        @media screen and (min-width: $desktop) {
            display: flex;
            position: relative;
            li {
                //須確保li的高度佔滿整個nav，才能讓hover的範圍可以銜接sub-link
                margin: 0 7px;
                position: relative; // for .sub-link的絕對定位
                & > a {
                    //因為有些li內含sub-link，無法用內外距垂直置中
                    //故使用此top&transfrom組合技，用既定的父元素高度計算位移
                    display: block; // for transform
                    position: relative;
                    top: $h-nav / 2;
                    transform: translateY(-50%);
                }

                .nav-a {
                    border-top: 3px solid transparent;
                    font-family: $font-zh;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 200%;
                    transition: border 0.5s;
                }
                &:hover {
                    .nav-a {
                        border-top: 3px solid $color-sec;
                    }
                    .sub-link {
                        //[A] 顯示&消失
                        display: block;
                        //[B] 伸長&縮回
                    }
                }
            }
            .sub-link {
                $scale-perc: 140%; //sub-link 置中定位使用
                position: absolute;
                width: $scale-perc; //* 放大以避免內容換行
                left: (100% - $scale-perc) / 2; //* 讓sub-link與上方置中
                top: $h-nav;
                background-color: $color-text;
                box-shadow: $box-shadow;

                //統一設定隱藏和顯示
                //! 顯示的觸發：老師的方法是把膠囊拉長，但nav限制高度。
                display: none;

                a {
                    display: block; //讓hover效果可以以整片呈現
                    height: 100%;
                    padding: 0 5px;
                    line-height: 3;

                    &:hover {
                        background-color: $color-main;
                    }
                }
            }
        }
        @media screen and (max-width: $tablet) {
            display: initial;
        } //平板&手機共用
    }

    // Part III : 社群連結
    #nav-soc {
        @media screen and (min-width: $desktop) {
            display: initial;
            width: 32px;
            height: 32px;
            a {
                margin: 0 10px auto 0;
                transition: 0.5s;
                &:hover {
                    filter: sepia(100%) drop-shadow(0 0 1px $color-sec);
                }
                &:active {
                    filter: invert(0.3);
                }
            }
        }
        @media screen and (max-width: $tablet) {
            display: none;
        }
    }
}
// 導覽列 END ====================================================
// 頁尾 ===============================================================
footer {
    height: 200px; //TODO
    width: 100%;
    background-color: #999999;
    padding-top: 30px;
    box-shadow: 64px 0 12px 0 rgba(0, 0, 0, 0.4), 12px 0 6px 0 rgba(0, 0, 0, 0.4) inset;
    text-align: center;
    overflow: hidden;
}
// 頁尾 END ===========================================================
