@import "./var" ;

// 最新消息 ===========================================================
#news {
    // width: 100%;
    // Banner區 ===================
    #banner {
        height: calc(100% / 3); //用calc固定長寬比
        width: 100%;
        max-width: 1800px;
        max-height: 600px;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: $shadow-box;
        @for $i from 1 through 6 {
            #banner#{$i} {
                background-image: url(../img/banner#{$i}.jpg); //for 迴圈也可以使用在檔名的數字
                background-size: cover;
                background-repeat: no-repeat;
                height: calc(100vw / 3); //用calc固定長寬比。必須撐開高度，否則其預設為h=1px。
                &:focus {
                    outline: none;
                } //取消slick設定的黑框
            }
        }
        //Slick adjust
        .slick-arrow::before {
            color: $color-main;
            font-size: 40px;
        }
        .slick-prev {
            left: 15px;
            z-index: 3;
        }
        .slick-next {
            right: 35px;
        }
        //Slick adjust END
    }
    // Banner區 END ==============
    // 公告區  ===================
    #news-card-wrap {
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;//讓超出範圍的文字用...中斷

        @media screen and (min-width: $desktop) {
            width: 90%;
        }
        // @media screen and (max-width: $tablet) {
        //     // width: 70%;
        // }
        @media screen and (min-width: $mobile) {
            width: 50%;
        }

        .news-card {
            $pd-b-card: 1em;
            $h-card: calc(450px- $pd-b-card);

            width: 100%;
            min-height: $h-card;
            max-height: $h-card;
            margin: 10px;
            padding-bottom: $pd-b-card;
            background-color: $color-sec;
            box-shadow: $shadow-box;
            display: flex;
            flex-direction: column;
            img {
                margin: 0 auto; //置中須直接針對圖片設定，tac因為slick改格局無效
                width: 100%;
                max-width: 300px;
            }
            p {
                text-overflow: ellipsis;
            }
            .news-card-text {
                margin: 1em 2em;
            }

            .news-btn {
                display: block;
                background-color: $color-sec;
                text-align: center;
                margin: 0 25%;
                box-shadow: $shadow-box;
                border-radius: 10% / 50%;
                padding: 5px;
                transition: 0.5s;

                @media screen and (min-width: $desktop) {
                    color: $color-text;
                    @include font-zh(1em, 300) ;
                    &:hover {
                        background-color: $color-text;
                        color: $color-sec;
                    }
                }
                @media screen and (max-width: $tablet) {
                    background-color: rgba($color-text, 0.7);
                    color: $color-sec;
                    font-size: 1em;
                }
            }

            &:focus {
                outline: none;
            } //取消slick設定的黑框
        }
    }
    // 公告區 END =================
}
// 最新消息 END =======================================================
// 商品情報 ===========================================================
#info {
    max-width: 1080px;
    margin: 0 auto;

    #info-card-wrap {
        display: grid;

        @media screen and (min-width: $desktop) {
            margin: 20px auto;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
        }
        @media screen and (max-width: $tablet) {
            width: 90%;
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
        @media screen and (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 60px;
        }

        .info-card {
            width: 300px;
            height: 200px;
            margin: 0 auto;
            background-image: url(https://fakeimg.pl/300x200/696969/abcdef/);
            background-size: cover;
            box-shadow: $shadow-box;
            text-align: center;
            color: blanchedalmond;
            transition: 0.5s;

            h2 {
                @include font-zh(1em, 300);
                transition: font-size 0.5s;
            }
            h3 {
                @include font-en(1em, 300, false);
                transition: font-size 0.5s;
            }

            &:focus {
                //取消slick設定的黑框
                outline: none;
            }
            &:hover {
                background-image: url(https://fakeimg.pl/300x200/abcdef/696969/);

                h2 {
                    font-size: 40px;
                }
                h3 {
                    font-size: 24px;
                }
            }
        }
    }
}
// 商品情報 END =======================================================
// 購買通路 ===========================================================
#market-channel {
    #channel-wrap {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-gap: 10px;

        .channel {
            a {
                color: $color-text;
            }
        }
    }
}
// 購買通路 END =======================================================
// 售後服務 ===========================================================
// 售後服務 END =======================================================
// 投資專區 ===========================================================
// 投資專區 END =======================================================
// 下載專區 ===========================================================
// 下載專區 END =======================================================
