@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
#news #banner {
  height: calc(100% / 3);
  width: 100%;
  max-width: 1800px;
  max-height: 600px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 5px #666;
          box-shadow: 1px 1px 5px #666;
}

#news #banner #banner1 {
  background-image: url(./img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw / 3);
}

#news #banner #banner1:focus {
  outline: none;
}

#news #banner #banner2 {
  background-image: url(./img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw / 3);
}

#news #banner #banner2:focus {
  outline: none;
}

#news #banner #banner3 {
  background-image: url(./img/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw / 3);
}

#news #banner #banner3:focus {
  outline: none;
}

#news #banner #banner4 {
  background-image: url(./img/banner4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw / 3);
}

#news #banner #banner4:focus {
  outline: none;
}

#news #banner #banner5 {
  background-image: url(./img/banner5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw / 3);
}

#news #banner #banner5:focus {
  outline: none;
}

#news #banner #banner6 {
  background-image: url(./img/banner6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vw / 3);
}

#news #banner #banner6:focus {
  outline: none;
}

#news #banner .slick-arrow::before {
  color: cornflowerblue;
  font-size: 40px;
}

#news #banner .slick-prev {
  left: 15px;
  z-index: 3;
}

#news #banner .slick-next {
  right: 35px;
}

#news #news-card-wrap {
  width: 90%;
  margin: 0 auto;
}

#news #news-card-wrap .news-card {
  border: 1px solid firebrick;
}

#news #news-card-wrap .news-card img {
  margin: 0 auto;
}

#news #news-card-wrap .news-card p {
  margin: 50px;
}

#news #news-card-wrap .news-card button {
  display: block;
  margin: 0 auto;
}

#news #news-card-wrap .news-card:focus {
  outline: none;
}

#info {
  max-width: 1080px;
  margin: 0 auto;
}

#info #info-card-wrap {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1025px) {
  #info #info-card-wrap {
    margin: 20px auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  #info #info-card-wrap {
    width: 90%;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  #info #info-card-wrap {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}

#info #info-card-wrap .info-card {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background-image: url(https://fakeimg.pl/300x200/696969/abcdef/);
  background-size: cover;
  -webkit-box-shadow: 1px 1px 5px #666;
          box-shadow: 1px 1px 5px #666;
  text-align: center;
  color: blanchedalmond;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#info #info-card-wrap .info-card h2 {
  font-family: "Noto Sans TC", sans-serif;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

#info #info-card-wrap .info-card h3 {
  font-family: "Montserrat", sans-serif;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

#info #info-card-wrap .info-card:focus {
  outline: none;
}

#info #info-card-wrap .info-card:hover {
  background-image: url(https://fakeimg.pl/300x200/abcdef/696969/);
}

#info #info-card-wrap .info-card:hover h2 {
  font-size: 40px;
}

#info #info-card-wrap .info-card:hover h3 {
  font-size: 24px;
}

#info #info-card-wrap .info-card:hover::after {
  content: "IDK";
}

#market-channel {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */