$mainColor : cornflowerblue ;
$textColor : AliceBlue ;

* {
    margin: 0;
    padding: 0;
}
nav {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 15% auto 15%;
    background-color: $mainColor;

    #link-wrap {
        a {
            text-decoration: none;
            color : $textColor ;
        }
    }
}