@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hr-title {
  margin: 15px 20%;
  border-color: #000;
}

.title-big {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.title-medium {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

nav {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cornflowerblue;
}

nav #nav-link-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav #nav-link-wrap .nav-a {
  bottom: 20px;
  margin: 0 7px 15px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: AliceBlue;
  -webkit-transition: .5s;
  transition: .5s;
}

nav #nav-link-wrap .nav-a:hover {
  background-color: skyblue;
  -webkit-box-shadow: 0 0 40px skyBlue;
          box-shadow: 0 0 40px skyBlue;
}

nav #nav-soc a {
  height: 25px;
  margin: auto 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav #nav-soc a:hover {
  background-color: #fff;
}

#NEWS #banner {
  display: block;
  -webkit-box-shadow: 1px 1px 5px #666;
          box-shadow: 1px 1px 5px #666;
}

#NEWS #banner #banner1 {
  background-image: url(./img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1800px;
  height: calc(100vw/3);
  max-height: 600px;
}

#NEWS #banner #banner1:focus {
  outline: none;
}

#NEWS #banner #banner2 {
  background-image: url(./img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1800px;
  height: calc(100vw/3);
  max-height: 600px;
}

#NEWS #banner #banner2:focus {
  outline: none;
}

#NEWS #banner #banner3 {
  background-image: url(./img/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1800px;
  height: calc(100vw/3);
  max-height: 600px;
}

#NEWS #banner #banner3:focus {
  outline: none;
}

#NEWS #banner #banner4 {
  background-image: url(./img/banner4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1800px;
  height: calc(100vw/3);
  max-height: 600px;
}

#NEWS #banner #banner4:focus {
  outline: none;
}

#NEWS #banner #banner5 {
  background-image: url(./img/banner5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1800px;
  height: calc(100vw/3);
  max-height: 600px;
}

#NEWS #banner #banner5:focus {
  outline: none;
}

#NEWS #banner #banner6 {
  background-image: url(./img/banner6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 1800px;
  height: calc(100vw/3);
  max-height: 600px;
}

#NEWS #banner #banner6:focus {
  outline: none;
}

#NEWS #banner .slick-arrow {
  z-index: 3;
}

#NEWS #banner .slick-arrow::before {
  color: cornflowerblue;
  font-size: 40px;
}

#NEWS #banner .slick-prev {
  left: 5px;
}

#NEWS #banner .slick-next {
  right: 20px;
}

#info {
  max-width: 1080px;
  margin: 0 auto;
}

#info #info-card-wrap {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1025px) {
  #info #info-card-wrap {
    margin: 20px auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  #info #info-card-wrap {
    width: 90vw;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  #info #info-card-wrap {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#info #info-card-wrap .info-card {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background-image: url(https://fakeimg.pl/300x200/696969/abcdef/);
  -webkit-box-shadow: 1px 1px 5px #666;
          box-shadow: 1px 1px 5px #666;
  text-align: center;
  color: blanchedalmond;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#info #info-card-wrap .info-card h2 {
  font-family: "Noto Sans TC", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#info #info-card-wrap .info-card h3 {
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#info #info-card-wrap .info-card:focus {
  outline: none;
}

#info #info-card-wrap .info-card:hover {
  background-image: url(https://fakeimg.pl/300x200/abcdef/696969/);
}

#info #info-card-wrap .info-card:hover h2 {
  font-size: 40px;
}

#info #info-card-wrap .info-card:hover h3 {
  font-size: 24px;
}

#info #info-card-wrap .info-card:hover::after {
  content: "IDK";
}

#news {
  text-align: center;
}

form {
  margin: 100px 50px;
}

form div {
  margin: 10px 0;
  padding: 10px;
}

form input {
  width: 100%;
}

form input::-webkit-input-placeholder {
  color: #666666;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

form input:-ms-input-placeholder {
  color: #666666;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

form input::-ms-input-placeholder {
  color: #666666;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

form input::placeholder {
  color: #666666;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

form input[type=submit] {
  background-color: AliceBlue;
  border-color: cornflowerblue;
  color: cornflowerblue;
}

form textarea {
  width: 100%;
  height: 100px;
}

form textarea::-webkit-input-placeholder {
  color: #777777;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  padding: 5px 0 0 15px;
}

form textarea:-ms-input-placeholder {
  color: #777777;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  padding: 5px 0 0 15px;
}

form textarea::-ms-input-placeholder {
  color: #777777;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  padding: 5px 0 0 15px;
}

form textarea::placeholder {
  color: #777777;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  padding: 5px 0 0 15px;
}
/*# sourceMappingURL=style.css.map */