@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
$mainColor: cornflowerblue;
$textColor: AliceBlue;
$font-zh: "Noto Sans TC", sans-serif; //400, 500, 700, 900
$font-en: "Montserrat", sans-serif; //normal & italic ; 300~900
$text-shadow: 1px 1px 5px #666;
$box-shadow: 1px 1px 5px #666;
$desktop : 1025px ;//width lower bound
$tablet : 1024px ;//width upper bound
$desktop : 767px ;//width upper bound

// 通用樣式區
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.hr-title {
    margin: 15px 20%;
    border-color: #000;
}
.title-big {
    text-align: center;
    font-family: $font-zh ;
    font-weight: 700;
    font-size: 36px;
}
.title-medium {
    text-align: center;
    font-family: $font-zh ;
    font-weight: 500;
    font-size: 24px;
}
//TODO add title-big
// 導覽列 ========================================================
nav {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 15% auto 15%;
    align-items: center;
    background-color: $mainColor;

    #nav-link-wrap {
        .nav-a {
            display: inline-block;
            position: relative;
            bottom: 20px;
            margin: 0 7px 15px;
            font-family: $font-zh;
            font-weight: 500;
            line-height: 100%;
            color: $textColor;
            &:hover {
                text-shadow: 0 0 20px DarkBlue;
            }
        }
    }
    #nav-soc {
        a {
            height: 25px;
            margin: auto 10px;
            transition: 0.5s;
            &:hover {
                background-color: #fff;
            }
        }
    }
}
// 導覽列 END ====================================================
// 輪播圖 ========================================================
#NEWS {
    #banner {
        display: block;
        // margin: 0 auto;
        // box-shadow: $box-shadow;
        @for $i from 1 through 6 {
            #banner#{$i} {
                background-image: url(./img/banner#{$i}.jpg); //for 迴圈也可以使用在檔名的數字
                background-size: cover;
                background-repeat: no-repeat;
                height: 37vh;
                &:focus {
                    outline: none;
                } //取消slick設定的黑框
            }
        }
        //Slick adjust
        .slick-arrow {
            z-index: 3;
        }
        .slick-arrow::before {
            color: $mainColor;
            font-size: 40px;
        }
        .slick-prev {
            left: 10px;
        }
        .slick-next {
            right: 10px;
        }
        //Slick adjust END
    }
}
// 輪播圖 END ====================================================
// 服務項目 ======================================================
#info {
    max-width: 1080px;
    margin: 0 auto;

    #info-card-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        .info-card {
            width: 300px;
            height: 200px;
            background-image: url(https://fakeimg.pl/300x200/696969/abcdef/);
            text-align: center;
            box-shadow: $box-shadow;
            color: blanchedalmond;
            transition: 0.5s;

            h2 {
                font-family: $font-zh;
                transition: 0.5s;
            }
            h3 {
                font-family: $font-en;
                transition: 0.5s;
            }

            &:focus {
                outline: none;
            } //取消slick設定的黑框
            &:hover {
                background-image: url(https://fakeimg.pl/300x200/abcdef/696969/);

                h2 {
                    font-size: 40px;
                }
                h3 {
                    font-size: 24px;
                }
                &::after {
                    content: "IDK";
                }
            }
        }
    }
}
// 服務項目 END ==================================================
// 最新消息 ======================================================
#news {
    text-align: center;
}
// 最新消息 END ==================================================
// 報修表單 ======================================================
form {
    margin: 100px 50px;
    div {
        // float : left ;
        margin: 10px 0;
        padding: 10px;
    }
    input {
        width: 100%;
        
        &::placeholder {
            color: #666666;
            font-family: $font-zh ;
            font-weight: 300;
            font-size: 14px;
        }
        &[type=submit] {
            background-color: $textColor;
            border-color: $mainColor;
            color: $mainColor ;
        }
    }
    textarea {
        width: 100%;
        height: 100px;
        &::placeholder {
            color: #777777;
            font-family: $font-zh ;
            font-size: 14px;
            padding: 5px 0 0 15px;
        }
    }
}
// 報修表單 END ==================================================
